@import "~styles/base";

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: $blue-grey;
  padding: 25px 12.5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  display: inline-block;
  justify-content: center;
  font-size: 1.75rem;
  color: $white-smoke;
  margin: 0px;
  padding: 12.5px;
}

.titleContainer {
  composes: row;
  justify-content: center;
  margin-bottom: 20px;
}

.metricContainer {
  composes: row;
  margin-bottom: 20px;
}

.chartContainer {
  composes: row;
}
