.root {
  margin-top: 100px;
}

.table {
  border-collapse: collapse;
}

thead th {
  line-height: 25px;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border-bottom: 4px solid grey;
}

tbody td:first-child {
  max-width: 500px;
  margin-right: 20px;
  border-right: 2px solid grey;
}

tbody tr:nth-child(odd) {
  background: whitesmoke;
}

tbody tr:last-child {
  border-bottom: 2px solid grey;
}

td {
  padding: 10px 15px;
}

.rowItem {
  text-align: center;
}

.black {
  color: black !important;
}

.opt {
  color: royalblue;
}

.popoverContent {
  padding: 10px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
}
