@import '~styles/base';
.root {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.left {
  display: flex;
  flex-direction: column;
  border-right: 3px solid black;
  margin-right: 40px;
  padding-right: 40px;
}


.headerText {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $dark-blue;
}

.headerTextSmall {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: $dark-blue;
}

.countBubble {
  margin-left: 5px;
  position: relative;
  bottom: 3px;
  padding: 0 8px;
  background: $accent-color;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
}

.preferencesPanel {
  background: white;
  border-radius: 10px;
  padding: 20px;
  min-height: 600px;
  width: 400px;

  .preferenceLabel {
    text-align: left;
    padding: 10px 20px;
  }

}

.notificationsPanel, .appsPanel {
  width: 400px;
  margin-bottom: 40px;

  .notification {
    background: white;
    border-radius: 5px;
    border-left: 5px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow-small;

    .body {
      padding: 10px;
      display: flex;
      justify-content: space-between;

      .image {
        width: 60px;
        height: 60px;
      }

      .textbox {
        margin-left: 10px;

        .title {
          line-height: 35px;
          font-size: 22px;
          font-weight: bold;
        }
        .date {
          font-style: italic;
          line-height: 15px;
          font-size: 15px;
          color: dimgrey;
        }
      }
    }

    .actionButtons {
      display: flex;
      flex-direction: column;
      border-left: 1px solid grey;

      .button {
        height: 50%;
        padding: 10px;
        font-size: 15px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.2s;
        cursor: pointer;

        &.read:hover {
          background: #cee0ff;
        }

        &.dismiss:hover {
          background: #ffd7e0;
        }

        &:first-child {
          border-bottom: 1px solid grey;
        }
      }

    }
  }
}

.appsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table {
  tbody tr:nth-child(odd) {
    background: whitesmoke;
  }
  td {
    padding: 10px;
  }
}




