$white: #FFF;
$white-highlight: rgb(245,245,245);
$off-white: #ECEFF1;
$white-smoke: #F5F5F5;

$black: #333;
$light-grey: #757575;

$blue-grey: #263238;

$primary-color: #26A69A;
$accent-color: #EF5350;
$secondary-color: #263238;
$highlight: #E0F7FA;

$grade-A: #5979A0;
$grade-B: #7DA943;
$grade-C: #E3D34A;
$grade-D: #F09941;

$box-shadow-small: 0px 0px 10px 0px rgba(0,0,0,0.2);
