$white: #FFF;
$white-highlight: rgb(245,245,245);
$off-white: #e4e6e8;
$white-smoke: #F5F5F5;

$black: #333;
$light-grey: #757575;

$blue-grey: #263238;
$dark-blue: #374667;

$primary-color: rgb(50, 142, 223);
$primary-color-light: rgb(54, 155, 244);
$accent-color: #EF5350;
$accent-color-light: #fa5754;
$secondary-color: #263238;
$highlight: #E0F7FA;

$blue: #5979A0;
$green: #7DA943;
$yellow: #E3D34A;
$orange: #F09941;

$box-shadow-small: 0px 0px 10px 0px rgba(0,0,0,0.2);
$box-shadow-large: 0px 0px 14px 0px rgba(0,0,0,0.4);
